# Ignore everything in .config
.config/*

# Exceptions: include specific directories and files you want to track
!.config/dunst
!.config/fontconfig
!.config/gtk-4.0
!.config/mpv
!.config/nvim
!.config/pulse
!.config/sxiv
!.config/wal
!.config/yazi
!.config/mimeapps.list
!.config/fastfetch
!.config/gtk-2.0
!.config/lf
!.config/ncmpcpp
!.config/pinentry
!.config/python
!.config/thorium
!.config/wget
!.config/zathura
!.config/user-dirs.dirs
!.config/firefox
!.config/gtk-3.0
!.config/mpd
!.config/nsxiv
!.config/pipewire
!.config/shell
!.config/tmux
!.config/x11
!.config/zsh

# Ensure that the entire directory contents are included
!.config/dunst/**
!.config/fontconfig/**
!.config/gtk-4.0/**
!.config/mpv/**
!.config/nvim/**
!.config/pulse/**
!.config/sxiv/**
!.config/wal/**
!.config/yazi/**
!.config/mimeapps.list
!.config/fastfetch/**
!.config/gtk-2.0/**
!.config/lf/**
!.config/ncmpcpp/**
!.config/pinentry/**
!.config/python/**
!.config/thorium/**
!.config/wget/**
!.config/zathura/**
!.config/user-dirs.dirs
!.config/firefox/**
!.config/gtk-3.0/**
!.config/mpd/**
!.config/nsxiv/**
!.config/pipewire/**
!.config/shell/**
!.config/tmux/**
!.config/x11/**
!.config/zsh/**
